/* FSC RED */

/*
  FSC Red:        #ba0c2f, R:186 G:12 B:47 --- rgb(186,12,47)
  FSC Blue:       #0060a9, R:0 G:96 B:169 --- rgb(0,96,169)
  FSC Light Blue: #0096db, R:0 G:150 B:219 --- rgb(0,150,219)
  FSC Grey:       #646464, rgb(100,100,100)
*/

html {
    --brandwidth: 298px !important;
    --nav-height: 60px !important;
    --FSCred: #ba0c2f !important;
    --FSCblue: #0060a9 !important;
    --FSClightblue: #0096db !important;
    --FSCgrey: #646464 !important;
    --vc-pgn-bg-color: white !important;
    --consoleBG: black !important;
}

/*----------------------------- ALL MONTSERRAT FONT TYPES -----------------------------*/

/* Currently used: Medium, Regular
  /**/

/* @font-face {
    font-family: "Montserrat"!important;
    src: local("Montserrat"),
      url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype")!important;
  } */

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf?3cd786652b8a2e9d41f210cb1a527ff6)
        format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf?e2d60bc49517598c0ce8b98f8d4e579f)
        format("truetype");
    font-weight: bold;
}

/*-- Body Reset --*/

body {
    overflow-x: hidden !important;
    font-family: "Montserrat" !important;
    font-weight: normal !important;
    color: #616971 !important;
    background-image: url(/images/background.jpg?6ab5f2b6da6c237707deac8469cf3cb5) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: rgba(0, 0, 0, 0) !important;
    z-index: 0 !important;
}

h1,
h4 {
    font-family: "Montserrat";
    font-weight: bold !important;
}

.no-decor,
.no-decor:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.row {
    display: flex !important;
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer !important;
}

.center {
    margin: auto !important;
    text-align: center !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    bottom: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 2.8px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Style The Dropdown Button */
.dropbtn {
    color: #a2a2a2;
    font-size: 16px;
    height: 20px !important;
    width: 20px !important;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    z-index: 5;
    margin-right: 5px;
    float: right;
    padding: 10 0 10 10;
    bottom: 15;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 11.5pt;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover,
.selected {
    background-color: #cecece;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.filterSettings {
    float: right !important;
    position: absolute;
    left: calc(100vw - 285.5px) !important;
    padding: 0px 10px;
}

.darkBG {
    background-color: #222222;
}

.vue-notification.success {
    border-top-right-radius: 5px;
    background: #68cd86 !important;
    border-left-color: #42a85f;
    border-bottom-right-radius: 5px;
}

.dark-scroll-bar {
    scrollbar-width: thin !important;
    scrollbar-color: var(--FSCgrey) #373842 !important;
    overflow-y: scroll !important;
    margin-right: 5px !important;
}

/* Works on Chrome, Edge, and Safari */
.dark-scroll-bar::-webkit-scrollbar {
    width: 10px !important;
}

.dark-scroll-bar::-webkit-scrollbar-track {
    background: #373842 !important;
    border-radius: 50px !important;
}

.dark-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #24252c !important;
    border-radius: 50px !important;
    border: 3px solid #373842 !important;
}

.btn-secondary {
    color: #fff !important;
    background-color: #444752 !important;
    border-color: #414452 !important;
}
/*============= NAVIGATION =============*/

nav {
    padding: 0 !important;
    z-index: 10 !important;
}

.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
}

.navbar-spacer {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 60px !important;
    z-index: 1 !important;
    background-color: #00000000 !important;
}

.navbar {
    font-size: 1rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.1rem !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1) !important;
    z-index: 10 !important;
    position: fixed !important;
    min-height: 60px !important;
    max-height: 60px !important;
    align-items: stretch !important;
    min-width: 100% !important;
    padding-left: 3rem !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    padding: 5px 0px 5px 48px !important;
    max-height: 60px !important;
}

.nav-item {
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
}

/* .link-btn {
  width:0.0000000001px!important;
  height:0.00000000001px!important;
  background-color: #ffffff!important;
  color: Blue!important;
  padding: 14px 20px!important;
  margin: 8px 0!important;
  border: none!important;
  cursor: pointer!important;
  } */

.nav-link {
    color: #555555 !important;
    height: 60px !important;
    padding-top: 17px !important;
    width: 150px !important;
    text-align: center !important;
}

.nav-link.activeNav,
.nav-link:hover {
    color: white !important;
    background-color: var(--FSCred) !important;
    transition-timing-function: linear !important;
    transition-duration: 200ms !important;
}

.move-up {
    color: #555555 !important;
    height: 60px !important;
    padding-top: 10px !important;
    width: 110px !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out !important;
    padding-bottom: 0.5rem !important;
}

.move-up.activeNav,
.move-up:hover {
    color: white !important;
    background-color: var(--FSCred) !important;
    transition-timing-function: linear !important;
    transition-duration: 200ms !important;
}

.nav-items {
    margin-left: calc(
        100vw - var(--brandwidth) - (150px * 4) - 40px
    ) !important;
    margin-right: 0 !important;
}

.dark-navbar {
    font-size: 1rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.1rem !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1) !important;
    z-index: 10 !important;
    position: fixed !important;
    min-height: 60px !important;
    max-height: 60px !important;
    align-items: stretch !important;
    min-width: 100% !important;
    padding-left: 3rem !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    background-color: var(--FSCred) !important;
}

.dark-nav-link {
    color: white !important;
    height: 60px !important;
    padding-top: 17px !important;
    width: 150px !important;
    text-align: center !important;
}

.dark-nav-link.activeNav,
.dark-nav-link:hover {
    color: var(--FSCred) !important;
    background-color: white !important;
    transition-timing-function: linear !important;
    transition-duration: 200ms !important;
}

.dark-move-up {
    color: white !important;
    height: 60px !important;
    padding-top: 10px !important;
    width: 110px !important;
    text-align: center !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out !important;
    padding-bottom: 0.5rem !important;
}

.dark-move-up.activeNav,
.dark-move-up:hover {
    color: var(--FSCred) !important;
    background-color: white !important;
    transition-timing-function: linear !important;
    transition-duration: 200ms !important;
}

.pfp {
    max-height: 40px !important;
    max-width: 40px !important;
    border: 1px solid #333333 !important;
    border-radius: 50% !important;
}

/*=============== MODAL ==============*/

.modal-section {
    z-index: 20 !important;
    height: 100vh !important;
    width: 100vw !important;
    background-color: rgba(75, 75, 75, 0.5) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

.modal-wrapper-1 {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
}

.modal-wrapper-2 {
    display: flex !important;
    min-height: 100vh !important;
}

.modal-wrapper-3 {
    z-index: 30 !important;
    margin: auto !important;
    background-color: white !important;
    padding: 0.5rem !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1) !important;
    width: calc(0.33 * 100vw) !important;
}

.modal-wrapper-4 {
    padding: 0.5rem !important;
}

/*============= CAROUSEL =============*/

.carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.carousel__viewport {
    height: calc(100vh - var(--nav-height)) !important;
}

.carousel__slide {
    display: unset !important;
    align-items: unset !important;
}

.carousel__pagination {
    background-color: var(--FSCgrey) !important;
    margin-bottom: 0;
    padding-left: 0;
}

.carousel__pagination-button {
    height: calc(var(--vc-pgn-height) * 1.5) !important;
    width: calc(var(--vc-pgn-width) * 1.5) !important;
}

.carousel__pagination-button--active {
    background-color: var(--FSCred) !important;
}

.carousel__item {
    min-height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__icon {
    width: calc(var(--vc-icn-width) * 2) !important;
    height: calc(var(--vc-icn-width) * 2) !important;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    border: 5px solid green;
    width: calc(var(--vc-nav-width) * 2) !important;
    height: calc(var(--vc-nav-height) * 2) !important;
}

.carousel__prev {
    left: 20px !important;
}

.carousel__next {
    right: 20px !important;
}

.carousel-caption {
    position: absolute !important;
    top: 54% !important;
    transform: translateY(-50%) !important;
    text-transform: uppercase !important;
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
    border-radius: 1rem !important;
}

.carousel-caption h1 {
    font-size: 3.8rem !important;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1) !important;
}

.border-danger {
    border-top: 0.2rem solid var(--FSCred) !important;
}

.carousel-caption h3 {
    font-size: 2.2rem !important;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1) !important;
}

.btn-lg {
    border-radius: 10px !important;
    font-size: 1rem !important;
    border-width: medium !important;
    min-width: 8rem !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.btn-grey {
    background-color: gray;
}

.btn-submit {
    background-color: rgb(77, 169, 97) !important;
}

.btn-danger {
    background-color: var(--FSCred) !important;
    border: 0.05rem solid var(--FSCred) !important;
}

.btn-primary {
    background-color: #4981b3 !important;
    border: 0.05rem solid #4981b3 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #68a0d2 !important;
    border: 0.05rem solid #68a0d2 !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.ml-2 {
    margin-left: 8px !important;
}

.col-8 {
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
}

/*============= COURSES =============*/

.courses.header {
    width: 100% !important;
    background-color: var(--FSCblue) !important;
    color: white !important;
    padding: 0.5rem 0.5rem 0 0.5rem !important;
}

.courses.header .heading {
    padding: 0.5rem 5.5rem 0.2rem !important;
}

.navigation {
    /* color: #80caff; */
    color: var(--FSCblue);
    display: block;
    position: absolute;
    margin: 5px !important;
}

.underline {
    text-decoration: underline !important;
}

.courses h2 {
    margin-left: 3rem !important;
}

.card-title {
    font-size: large !important;
    max-height: 239.5px !important;
}

.courses hr {
    border-top: 2px solid #ffffff !important;
}

hr.courses {
    border-top: 1px solid #a1a1a1 !important;
}

.coursecard {
    border: 1px solid #a1a1a1 !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
}

.width {
    width: 277.5px !important;
}

.coursecard:hover {
    border: 1px solid var(--FSCred) !important;
    border-bottom: 3px solid var(--FSCred) !important;
    transition-timing-function: ease !important;
    transition-duration: 100ms !important;
}

.courses.card-img-top {
    padding-top: 130px !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    vertical-align: bottom !important;
}

.courses.card-img-add {
    height: 234px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url(/images/addcourse.png?c7733fa87019c05087317a0dadb689ab) !important;
}

.courses.card-content {
    height: 6.5rem !important;
}

.courselaunch {
    text-decoration: none !important;
}

.addcourse {
    background: url(/images/addcourse.png?c7733fa87019c05087317a0dadb689ab) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.coursecontainer {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    width: 100vw !important;
    display: flex !important;
}

.courserow {
    width: 100vw !important;
    display: flex !important;
    flex: content !important;
}

.fixed-course-width {
    width: auto !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    height: 236px !important;
    overflow: visible;
}

.oldcourseHeader {
    margin: 0 1rem !important;
}

/*============= EDIT COURSES =============*/

.edit-course {
    width: 400px !important;
    border: 1px solid lightgrey !important;
    background-color: white !important;
    margin: auto !important;
    margin-top: 5rem !important;
    padding: 20px !important;
}

.edit-course-title {
    text-align: center !important;
}

.dates {
    display: flex !important;
}

.top-row, .bottom-row {
    height: calc(((100vh - var(--nav-height)) / 2)) !important;
    width: 100vw;
    display: flex;
}

.course-dashboard {
    height: 100vh!important;
    color: rgb(136, 136, 136);
    width: 100vw!important;
}

.course-edit-label {
    color: darkgray;
    font-weight: bold;
    font-size: larger;
}

.course-edit-field {
    display: inline-block;
}

.course-details, .grades, .key-gen, .labs {
    width: 50%;
    margin: 1rem;
  }

/*============== LABS and PROBLEMS ==============*/

table.labtable,
table.problemtable,
table.gradebook {
    background-color: inherit !important;
    margin: 4rem 2rem 2rem 2rem !important;
    width: calc(100vw - 4rem - 3px) !important;
    border: none !important;
}

tbody {
    /* border: 1px solid #9e9e9e !important; */
    border: none !important;
}

.labtable td,
.problemtable td,
.gradebook td {
    /* border: 1px solid #9e9e9e !important; */
    /* border-right: none !important; */
    /* border-left: none !important; */
    border: none !important;
}

.labtable tr,
.problemtable tr,
.gradebook tr {
    /* border: 1px solid #9e9e9e !important; */
    border: none !important;
}

thead.labtable,
thead.problemtable,
thead.gradebook {
    background-color: rgba(0, 96, 169, 0.75) !important;
    color: white !important;
    /* border: 1px solid rgba(0, 96, 169, 0.75) !important; */
    border: none !important;
}

.lab,
.problem,
.student {
    background-color: rgba(231, 231, 231, 0.65) !important;
}

.complete {
    background-color: rgba(156, 223, 140, 0.65) !important;
}

.incomplete {
    background-color: rgba(255, 102, 102, 0.65) !important;
}

.lab:hover,
.problem:hover,
.student:hover {
    background-color: rgba(204, 204, 204, 0.65) !important;
    transition-timing-function: ease-in !important;
    transition-duration: 0.2s !important;
}

.complete:hover {
    background-color: rgba(113, 167, 100, 0.65) !important;
}

.incomplete:hover {
    background-color: rgba(204, 81, 81, 0.65) !important;
}

.lab a,
.problem a,
.student a {
    color: rgb(1, 125, 173) !important;
}

.lab a:hover,
.problem a:hover,
.student a:hover {
    text-decoration: underline !important;
    color: rgb(1, 125, 173) !important;
}

.problem-description {
    background-color: white !important;
    margin-left: 50px !important;
    /* border: 1px solid #9e9e9e !important; */
    border: none !important;
    border-bottom: none !important;
    border-top: none !important;
    border-bottom: none !important;
    padding: 1rem !important;
}

.description-data {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.spacer {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;
}

#menu {
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    transform-origin: center;
    z-index: 20;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
}

#menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
    padding: 0;
}

.menu-item {
    display: block;
    padding: 10px;
    transition: 0.1s;
    color: #666;
}

.menu-item:hover {
    background-color: var(--FSCred);
    color: white;
    cursor: pointer;
}

#out-click {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}

.tc-editor {
    /* font-family: consolas !important; */
    font-weight: lighter !important;
    font-size: 12pt !important;
    /* min-height: calc((100vh - var(--nav-height)) / 2) !important; */
    height: 250px !important;
    margin: 0 !important;
}

/*============= LOGIN PAGE =============*/

.login {
    width: 400px !important;
    border: 1px solid lightgrey !important;
    background-color: white !important;
    margin: auto !important;
    margin-top: 5rem !important;
    padding: 20px !important;
}

.login-title {
    text-align: center !important;
}

.form-label {
    /* label - text-sm text-gray-500 */
    font-size: 12pt !important;
    color: gray !important;
}

.form-input {
    /* placeholder-gray-400????            appearance-none              focus:ring-blue-500 */
    display: block !important;
    width: 100% !important;
    padding: 2rem 1rem !important;
    color: gray !important;
    border: 1px solid lightgray !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}

.form-input:focus {
    outline: none !important;
    border: 5px solid var(--FSCred) !important;
}

.forgot-password {
    color: var(--FSClightblue);
    margin-left: 3rem;
}

/*============= REGISTER =============*/

.register {
    width: 450px !important;
    border: 1px solid lightgrey !important;
    background-color: white !important;
    margin: auto !important;
    margin-top: 1rem !important;
    padding: 20px !important;
}

.register-title {
    text-align: center !important;
}

/*========== Reset Password ===========*/
.password-reset {
    width: 450px !important;
    border: 1px solid lightgrey !important;
    background-color: white !important;
    margin: auto !important;
    margin-top: 10rem !important;
    padding: 20px !important;
}

.password-reset-title {
    text-align: center !important;
}

/*============= WORKSPACE =============*/
.workspace-page {
    background-color: black !important;
    width: 100vw !important;
    height: calc(100vh - var(--nav-height)) !important;
}
.work-area {
    padding: 0 !important;
    margin: 0 !important;
    background-color: black !important;
    color: lightgray !important;
    font: 12pt / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
        "source-code-pro", monospace;
    font-weight: lighter !important;
    font-size: 12pt !important;
}

.instructions {
    background-color: rgb(42, 43, 51) !important;
    color: lightgray !important;
    /* height: calc(100vh - var(--nav-height)) !important;
    margin: 0 !important;
    padding: 1rem !important; */
}

.instructions-hr {
    border-top: 3px ridge var(--FSCred) !important;
    background-color: var(--FSCred) !important;
    opacity: 1 !important;
}

.editor {
    /* font-family: consolas !important; */
    font-weight: lighter !important;
    font-size: 12pt !important;
    /* min-height: calc((100vh - var(--nav-height)) / 2) !important; */
    height: 100% !important;
    margin: 0 !important;
}

.editor.row {
    padding: 0 !important;
    background-color: var(--consoleBG) !important;
}

.row > * {
    margin: 0;
    padding: 0 !important;
}

.console {
    /* background-color: var(--consoleBG) !important;
    color: lime !important; */
    font: 12pt / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
        "source-code-pro", monospace;
    /* height: calc(((100vh - var(--nav-height)) / 2) - 39px) !important; */
    height: 100% !important;
    margin: 0 !important;
    padding: 20px;
    border: none !important;
    width: 100vw !important;
    border-radius: 0px !important;
}

.workspace-label {
    color: lightgray !important;
}

.console-select.form-select {
    border: 1px solid lightgray !important;
    border-radius: 5px !important;
    background-color: rgb(32, 32, 32) !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1000ms !important;
    max-height: 30px !important;
    max-width: 250px !important;
    display: inline-block !important;
    padding: 0 0 0 5px !important;
    margin: 5px 0 0 5px !important;
    color: lightgray !important;
}

.toggleIO,
.run-code,
.submit-code {
    border: none !important;
    width: 130px !important;
    margin-right: 13px !important;
    height: 31px !important;
}

.configure-editor {
    min-width: 308px !important;
    width: auto !important;
    width: 308px !important;
}

.inputHeight {
    height: calc(((100vh - var(--nav-height)) / 2) - 39px) !important;
}

.vdr-container {
    border: none !important;
}

.vdr-handle {
    top: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    display: block !important;
    z-index: 10 !important;
    background-color: var(--FSCblue) !important;
}

.vdr-container.active {
    border-bottom: none !important;
}

.vdr-handle-tm {
    width: 100% !important;
    left: 0 !important;
    margin-top: 0 !important;
    z-index: 10 !important;
}

.vdr-handle-bm {
    display: none !important;
}

.vdr-handle-mr {
    display: none !important;
}

.vdr-handle-ml {
    height: 100% !important;
    top: 0 !important;
    margin-top: 0 !important;
    z-index: 10 !important;
}

.ProseMirror > * + * {
    margin: 0.75em 0 0.75em 0 !important;
    border: none !important;
}

/*========== POPUP MODAL ==========*/
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    overflow: auto;
    padding: 2.5rem 1rem 1rem 1rem !important;
    width: 40% !important;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 8px 8px 0 0;
    cursor: pointer;
    color: gray;
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 5px;
}
.modal-close::hover {
    color: darkgrey;
}

.success {
    background-color: #ddecdf !important;
    color: #71a381;
    padding: 5px;
}

.failed {
    background-color: #fcf0ee !important;
    color: #d69c97;
    padding: 5px;
}

.info {
    background-color: #efefef !important;
    color: #616161;
    padding: 5px;
}

.details {
    background-color: #fffaf9;
    padding: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}

.no-margin {
    margin: 0 !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spinner {
    border: 3px solid #adadad;
    border-top: 3px solid var(--FSCgrey);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 750ms linear infinite;
            animation: spin 750ms linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.right {
    float: right !important;
    text-align: right !important;
    align-items: flex-end !important;
}

/*========= DELETE MODAL =========*/
.delete-modal {
    /* width: 40%; */
    font-size: 22px;
    /* height: 20%; */
}

.delete-buttons {
    float: right;
}

.delete-button {
    margin: 3px;
}

/*========= ADD ASSIGNMENT =========*/
.assignment-title {
    font-size: 20pt !important;
    background-color: var(--FSCblue) !important;
    border: none !important;
    color: white !important;
    padding: 0 0 0 12px !important;
    max-height: 40px !important;
}

.assignment-title::-moz-placeholder {
    color: white !important;
    border: none !important;
}

.assignment-title:-ms-input-placeholder {
    color: white !important;
    border: none !important;
}

.assignment-title::placeholder {
    color: white !important;
    border: none !important;
}

.assignment-title:focus::-moz-placeholder {
    color: white !important;
    border: none !important;
    background-color: var(--FSCblue) !important;
    box-shadow: none !important;
}

.assignment-title:focus:-ms-input-placeholder {
    color: white !important;
    border: none !important;
    background-color: var(--FSCblue) !important;
    box-shadow: none !important;
}

.assignment-title:focus::placeholder,
.assignment-title:focus {
    color: white !important;
    border: none !important;
    background-color: var(--FSCblue) !important;
    box-shadow: none !important;
}

.assignment.header {
    width: 100% !important;
    background-color: var(--FSCblue) !important;
    padding: 0.5rem 6rem 0.5rem !important;
    color: white !important;
}

.assignment hr {
    border-top: 2px solid #ffffff !important;
    margin: 0 !important;
}

.assignment.container {
    margin: 0 0 0 0 !important;
    padding: 1rem 7rem 1rem !important;
    background-color: white !important;
    min-width: 100vw !important;
    min-height: calc(100vw - 149px) !important;
}

.assignment.navbar-nav {
    padding: 0 !important;
    margin: 5px 0 0 0 !important;
    color: white !important;
    flex-direction: row !important;
}

.assignment.nav-link {
    margin: 0 1rem 0 !important;
    padding: 0 !important;
    height: unset !important;
    background-color: unset !important;
    color: white !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.assignment.nav-link:hover,
.assignment.nav-link.active {
    padding: 0 !important;
    height: unset !important;
    background-color: unset !important;
    border-bottom: 2px solid white !important;
}

.create-assignment {
    padding-top: 2rem;
    background-color: white !important;
    height: 100%;
    /* min-height: calc(100vh - (var(--nav-height) + 88px)) !important;
    height: calc(100vh - (var(--nav-height) + 88px)) !important;
    max-height: calc(100vh - (var(--nav-height) + 88px)) !important; */
}

.tab {
    padding: 0px 20px !important;
}

.active {
    border-width: 0 !important;
    border-bottom-width: 2px !important;
    border-style: solid !important;
    border-color: white !important;
}

.assignment-description {
    height: 300px !important;
}

.publish-all {
    margin: 0 0 25px 12px !important;
}

.editcoursecard {
    border: 1px solid #a1a1a1 !important;
    min-height: 350px !important;
    padding: 10px;
}

#lab-select {
    width: 200px !important;
}

.margin {
    margin: 0 15px !important;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-footer {
    margin: auto !important;
    border: none !important;
}

.saveStatus {
    margin-left: 20px !important;
}

.lang-select {
    width: 600px !important;
    margin: auto !important;
    padding-top: calc(0.4 * (100vh - (var(--nav-height) + 88.2px))) !important;
}

.template-IDE {
    margin-top: 150px !important;
}

.save-template,
.save-model {
    width: 100vw !important;
}

.save-template .row,
.save-model .row {
    flex-wrap: nowrap !important;
}

.save-template .row .btn,
.save-model .row .btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    float: left !important;
    width: 10vw !important;
}

.saveStatus {
    float: right !important;
    width: 20vw !important;
}

.create-test-cases {
    padding-top: 2rem;
    background-color: white !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
}

.test-cases {
    font-size: 10pt !important;
    margin-left: 2rem !important;
}

.tc-card-title {
    background-color: var(--FSCred) !important;
    color: white !important;
    margin: auto !important;
    margin-top: 25px !important;
}

.tc-card {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    min-width: 150px !important;
    word-wrap: break-word !important;
    background-color: var(--FSCred) !important;
    background-clip: border-box !important;
    border-radius: 0.25rem !important;
    margin: 1rem !important;
    padding: 3px !important;
}

.tc-card-body {
    background-color: white !important;
    margin: 0 !important;
    padding: 1rem 1rem 0 1rem !important;
    border-radius: 0.17rem !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

/*============= FOOTER =============*/

footer {
    background-color: #383838 !important;
    padding: 1rem 2rem 3rem !important;
    height: auto !important;
}

footer img {
    height: 10% !important;
    margin: 1.5rem auto !important;
}

footer p,
footer a,
.socket a {
    color: white !important;
    text-decoration: none !important;
}

ul.social {
    list-style-type: none !important;
    display: flex !important;
    max-width: 16rem !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

ul.social li {
    margin: 0 auto !important;
}

footer .svg-inline--fa {
    font-size: 2.3rem !important;
}

footer .svg-inline--fa:hover {
    color: #68a0d2 !important;
}

/*============= SOCKET =============*/

.socket {
    background-color: #222222 !important;
    border-top: 0.1rem solid #4981b3 !important;
}

/*============= PROFILE =============*/
.large-pfp {
    height: 250px !important;
    width: 250px !important;
    border: 1px solid #333333 !important;
    border-radius: 50% !important;
    margin-top: 30px;
}

.profile {
    height: calc(100vh - var(--nav-height) - 45.2px) !important;
    padding: 20px 20px 20px 0 !important;
}

.profile-picture {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: auto !important;
}

.profile-field,
.profile-field:focus-visible {
    background-color: transparent;
    color: lightgray;
    border: none;
    border-bottom: 2px var(--FSCgrey) solid;
    border-radius: unset;
    outline: none !important;
}

.profile-select {
    background-color: transparent;
    color: lightgray;
    border: none;
    border-bottom: 2px var(--FSCgrey) solid;
    border-radius: unset;
}

.profile-select:focus-visible {
    background-color: #222222 !important;
    max-height: 30px !important;
    display: inline-block !important;
    color: lightgray !important;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: var(--FSCgrey) #333333;
}

/* Works on Chrome, Edge, and Safari */
.profile-select:focus-visible::-webkit-scrollbar {
    width: 10px;
}

.profile-select:focus-visible::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 50px;
}

.profile-select:focus-visible::-webkit-scrollbar-thumb {
    background-color: var(--FSCgrey);
    border-radius: 50px;
    border: 3px solid #333333;
}

.settings {
    scrollbar-width: thin;
    scrollbar-color: var(--FSCgrey) #333333;
    overflow-y: scroll;
}

/* Works on Chrome, Edge, and Safari */
.settings::-webkit-scrollbar {
    width: 10px;
}

.settings::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 50px;
}

.settings::-webkit-scrollbar-thumb {
    background-color: var(--FSCgrey);
    border-radius: 50px;
    border: 3px solid #333333;
}

.sampleConsole {
    font: 12pt / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
        "source-code-pro", monospace;
    /* height: calc(((100vh - var(--nav-height)) / 2) - 39px) !important; */
    height: 100% !important;
    margin: 0 !important;
    padding: 20px;
    border: none !important;
    width: 100% !important;
    border-radius: 0px !important;
}

/*============= ENROLL =============*/
.center-height {
    margin-top: calc((100vh - var(--nav-height)) / 2) !important;
}

.invite-card {
    background-color: var(--FSCgrey);
    padding: 0;
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px white;
    border-radius: 10px;
}

.inviteBG {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crop {
    display: block;
    height: 275px;
    position: relative;
    overflow: hidden;
    width: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.crop img {
    left: 0px; /* alter this to move left or right */
    position: absolute;
    top: -20%; /* alter this to move up or down */
}
/*============= MEDIA QUERIES =============*/

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap !important;
        justify-content: space-evenly !important;
    }
}

/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {
    .carousel-caption h1 {
        font-size: 2.8rem !important;
    }
    .carousel-caption h3 {
        font-size: 1.8rem !important;
    }
    .carousel-inner {
        height: 537.51px !important;
    }
    .navbar-collapse {
        background-color: white !important;
        float: right !important;
        padding: 0 !important;
        max-width: 150px !important;
        margin-left: calc(100vw - 167px) !important;
    }
    .navbar-toggler {
        margin-left: calc(100vw - 400px) !important;
        width: 56px !important;
        height: 60px !important;
    }
}

/* Devices under 992px (md) */

@media (max-width: 991.98px) {
    .carousel-caption h1 {
        font-size: 2.5rem !important;
    }
    .carousel-caption h3 {
        font-size: 1.5rem !important;
    }
    .btn-lg {
        font-size: 0.95rem !important;
    }
    .carousel-inner {
        height: 417px !important;
    }
    .navbar-collapse {
        background-color: white !important;
        float: right !important;
        padding: 0 !important;
        max-width: 150px !important;
        margin-left: calc(100vw - 150px) !important;
    }
}

@media (max-width: 768px) {
    .carousel-inner {
        height: 275.59px !important;
    }
}

@media (max-width: 576px) {
    .width {
        margin: auto !important;
    }
    .coursecontainer {
        margin: 0 !important;
    }
}

/*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/

/*-- Bootstrap Mobile Gutter Fix --*/

.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*-- Fixed Background Image --*/

.fixed-background {
    position: relative !important;
    width: 100% !important;
    z-index: 1000 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: -999 !important;
}

.fixed {
    z-index: -999 !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
    transform: translateZ(0) !important;
    will-change: transform !important;
}

