/* FSC RED */

/*
  FSC Red:        #ba0c2f, R:186 G:12 B:47 --- rgb(186,12,47)
  FSC Blue:       #0060a9, R:0 G:96 B:169 --- rgb(0,96,169)
  FSC Light Blue: #0096db, R:0 G:150 B:219 --- rgb(0,150,219)
  FSC Grey:       #646464, rgb(100,100,100)
*/

html {
  --brandwidth: 298px;
  --nav-height: 60px;
  --FSCred: #ba0c2f;
  --FSCblue: #0060a9;
  --FSClightblue: #0096db;
  --FSCgrey: #646464;
}

/*----------------------------- ALL MONTSERRAT FONT TYPES -----------------------------*/

/* Currently used: Medium, Regular
  /**/

/* @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype"),
      url("../assets/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  } */

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
}

/*-- Body Reset --*/

body {
  overflow-x: hidden;
  font-family: 'Montserrat'!important;
  font-weight: normal;
  color: #616971;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0)!important;
  z-index: 0;
}

h1, h4 {
  font-family: 'Montserrat';
  font-weight: bold!important;
}

.no-decor, .no-decor:hover {
  text-decoration: none;
  color: inherit;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

/*============= NAVIGATION =============*/

nav {
  padding: 0!important;
  z-index: 10!important;
}

.navbar-nav {
  display: flex!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.navbar-spacer {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  z-index: 1;
  background-color: red;
}

.navbar {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 10!important;
  position: fixed!important;
  min-height: 60px;
  max-height: 60px;
  align-items: stretch!important;
  min-width: 100%;
  padding-left: 3rem;
  padding-top: 5px;
  padding-bottom: 0;
}

.navbar-brand {
  padding: 5px 0px 5px 48px;
  max-height: 60px;
}

.nav-item {
  padding: 0!important;
  display: flex!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

/* .link-btn {
  width:0.0000000001px;
  height:0.00000000001px;
  background-color: #ffffff;
  color: Blue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
} */

.nav-link {
  color: #555555!important;
  height: 60px!important;
  padding-top: 17px!important;
  width: 150px!important;
  text-align: center!important;
}

.nav-link.active, .nav-link:hover {
  color: white!important;
  background-color: var(--FSCred)!important;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.nav-items {
  margin-left: calc(100vw - var(--brandwidth) - (150px * 4) - 40px);
  margin-right: 0;
}

.dark-navbar {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 10;
  position: fixed;
  min-height: 60px;
  max-height: 60px;
  align-items: stretch!important;
  min-width: 100%;
  padding-left: 3rem;
  padding-top: 5px;
  padding-bottom: 0;
  background-color: var(--FSCred)!important;
}

.dark-nav-link {
  color: white!important;
  height: 60px;
  padding-top: 17px;
  width: 150px;
  text-align: center;
}

.dark-nav-link.active, .dark-nav-link:hover {
  color: var(--FSCred)!important;
  background-color: white!important;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.pfp {
  max-height: 40px;
  max-width: 40px;
  border: 1px solid #333333;
  border-radius: 50%;
}

/*=============== MODAL ==============*/

.modal-section {
  z-index: 20!important;
  height: 100vh!important;
  width: 100vw!important;
  background-color: rgba(75, 75, 75, 0.5)!important;
  position: fixed!important;
  top: 0;
  left: 0;
}

.modal-wrapper-1 {
  position: absolute;
  top: 0px!important;
  right: 0px!important;
  bottom: 0px!important;
  left: 0px!important;
}

.modal-wrapper-2 {
  display: flex;
  min-height: 100vh;
}

.modal-wrapper-3 {
  z-index: 30;
  margin: auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem!important;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
  width: calc(0.33 * 100vw);
}

.modal-wrapper-4 {
  padding: 0.5rem;
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel-inner {
  max-height: calc(100vh - 60px)!important;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next, .carousel-item-prev, .carousel-item-active {
  transition-timing-function: linear;
  transition-duration: 0.5s;
}

/*-- Carousel Content --*/

.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.6)!important;
  color: white!important;
  border-radius: 1rem!important;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
  ;
}

.border-danger {
  border-top: .2rem solid var(--FSCred)!important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
  ;
}

.btn-lg {
  border-radius: 10px!important;
  text-transform: uppercase!important;
  font-size: 1rem!important;
  border-width: medium!important;
  width: 8rem!important;
}

.btn-danger {
  background-color: var(--FSCred)!important;
  border: .05rem solid var(--FSCred)!important;
}

.btn-primary {
  background-color: #4981b3!important;
  border: .05rem solid #4981b3!important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #68a0d2!important;
  border: .05rem solid #68a0d2!important;
}

.mr-2 {
  margin-right: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.col-8 {
  flex: 0 0 66.666667%!important;
  max-width: 66.666667%!important;
}

/*============= COURSES =============*/

.courses.header {
  width: 100%;
  background-color: var(--FSCblue);
  padding: 1rem 6rem 0.2rem;
  color: white;
}

.courses h2 {
  margin-left: 3rem;
}

.card-title {
  font-size: large!important;
}

.courses hr {
  border-top: 2px solid #ffffff;
}

hr.courses {
  border-top: 1px solid #a1a1a1;
}

.coursecard {
  border: 1px solid #a1a1a1;
}

.width {
  width: 277.5px!important;
}

.coursecard:hover {
  border: 1px solid red;
  border-bottom: 3px solid red;
  transition-timing-function: ease;
  transition-duration: 100ms;
}

.courses.card-img-top {
  padding-top: 130px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.courses.card-img-add {
  height: 234px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/courses/addcourse.png');
}

.courses.card-content {
  height: 6.5rem;
}

.courselaunch {
  text-decoration: none;
}

.addcourse {
  background: url("../img/courses/addcourse.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.coursecontainer {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100vw!important;
  display: flex;
  flex: content;
}

.courserow {
  width: 100vw!important;
  display: flex;
  flex: content;
}

.fixed-course-width {
  width: auto!important;
  margin-bottom: 3rem!important;
  margin-left: 1rem!important;
  margin-right: 1rem!important
}

/*============= EDIT COURSES =============*/

.edit-course {
  width: 400px;
  border: 1px solid lightgrey;
  background-color: white;
  margin: auto;
  margin-top: 5rem;
  padding: 20px;
}

.edit-course-title {
  text-align: center;
}

.dates {
  display: flex;
}

/*============== LABS and PROBLEMS ==============*/

table.labtable, table.problemtable {
  background-color: inherit;
  margin: 2rem;
}

.labtable td, .problemtable td {
  border: 1px solid #9e9e9e;
  border-right: none;
  border-left: none;
}

.labtable tr, .problemtable tr {
  border: 1px solid #9e9e9e;
}

thead.labtable, thead.problemtable {
  background-color: rgba(0, 96, 169, 0.75);
  color: white;
  border: 1px solid rgba(0, 96, 169, 0.75);
}

.complete {
  background-color: rgba(156, 223, 140, 0.65);
}

.incomplete {
  background-color: rgba(255, 102, 102, 0.65);
}

.lab, .problem {
  background-color: rgba(231, 231, 231, 0.65);
}

.lab:hover, .problem:hover {
  background-color: rgba(204, 204, 204, 0.65);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.complete:hover {
  background-color: rgba(113, 167, 100, 0.65);
}

.incomplete:hover {
  background-color: rgba(204, 81, 81, 0.65);
}

.lab a, .problem a {
  color: rgb(1, 125, 173);
}

.lab a:hover, .problem a:hover {
  text-decoration: underline;
  color: rgb(1, 125, 173);
}

.problem-description {
  background-color: white;
  margin-left: 50px!important;
  border: 1px solid #9e9e9e;
  border-top: none!important;
  border-bottom: none!important;
  padding: 1rem;
}

.description-data {
  background-color: transparent!important;
  border: none!important;
  padding: 0!important;
}
/*============= LOGIN PAGE =============*/

.login {
  width: 400px;
  border: 1px solid lightgrey;
  background-color: white;
  margin: auto;
  margin-top: 5rem;
  padding: 20px;
}

.login-title {
  text-align: center;
}

.form-label {
  /* label - text-sm text-gray-500 */
  font-size: 12pt;
  color: gray;
}

.form-input {
  /* placeholder-gray-400????            appearance-none              focus:ring-blue-500 */
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.form-input:focus {
  outline: none;
  border: 5px solid var(--FSCred);
}

/*============= REGISTER =============*/

.register {
  width: 450px;
  border: 1px solid lightgrey;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  padding: 20px;
}

.register-title {
  text-align: center;
}

/*============= WORKSPACE =============*/

.work-area {
  padding: 0;
  margin: 0;
}

.instructions {
  background-color: rgb(42, 43, 51);
  color: lightgray;
  min-height: calc(100vh - var(--nav-height));
  margin: 0;
  padding: 1rem;
}

.instructions-hr {
  border-top: 3px ridge var(--FSCred)!important;
  background-color: var(--FSCred)!important;
  opacity: 1!important;
}

.editor {
  font-family: consolas;
  font-weight: lighter;
  font-size: 12pt;
  min-height: calc((100vh - var(--nav-height)) / 2);
  margin: 0;
}

.row>* {
  margin: 0;
  padding: 0!important;
}

.console {
  background-color: rgb(58, 58, 58);
  color: lightgray;
  font-family: consolas;
  min-height: calc((100vh - var(--nav-height)) / 2);
  margin: 0;
  padding: 2rem;
}

.workspace-label {
  color: lightgray;
}

.console-select.form-select {
  border: 1px solid lightgray!important;
  border-radius: 5px!important;
  background-color: rgb(32, 32, 32)!important;
  transition-timing-function: ease-in-out!important;
  transition-duration: 1000ms!important;
  max-height: 30px!important;
  max-width: 250px!important;
  display: inline-block!important;
  padding: 0 0 0 5px!important;
  margin: 5px 0 0 5px!important;
  color: lightgray!important;
}

.run-code, .submit-code {
  border: none!important;
  min-width: 10%!important;
  width: 10%!important;
  max-width: 10%!important;
  margin-right: 1%!important;
  max-height: 31px!important;
}

.configure-editor {
  min-width: 308px;
  width: auto !important;
  width: 308px;
}

/*========= ADD ASSIGNMENT =========*/

.assignment-title {
  font-size: 20pt;
  background-color: var(--FSCblue);
  border: none;
  color: white;
  padding: 0 0 0 12px!important;
  max-height: 40px;
}

.assignment-title::placeholder {
  color: white;
  border: none!important;
}

.assignment-title:focus::placeholder, .assignment-title:focus {
  color: white;
  border: none!important;
  background-color: var(--FSCblue);
  box-shadow: none!important;
}

.assignment.header {
  width: 100%;
  background-color: var(--FSCblue);
  padding: 0.5rem 6rem 0.5rem;
  color: white;
}

.assignment hr {
  border-top: 2px solid #ffffff;
  margin: 0;
}

.assignment.container {
  margin: 0 0 0 0!important;
  padding: 1rem 7rem 1rem;
  background-color: white;
  min-width: 100vw!important;
  min-height: calc(100vw - 149px);
}

.assignment.navbar-nav {
  padding: 0!important;
  margin: 5px 0 0 0!important;
  color: white;
  flex-direction: row;
}

.assignment.nav-link {
  margin: 0 1rem 0;
  padding: 0;
  height: unset;
  background-color: unset;
  color: white!important;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  width: fit-content;
}

.assignment.nav-link:hover, .assignment.nav-link.active {
  padding: 0;
  height: unset;
  background-color: unset!important;
  border-bottom: 2px solid white;
}

.overview {
  height: calc((100vh - var(--nav-height) - 89px));
  flex: auto;
}

/*============= FOOTER =============*/

footer {
  background-color: #383838;
  padding: 1rem 2rem 3rem;
  height: auto;
}

footer img {
  height: 10%;
  margin: 1.5rem auto;
}

footer p, footer a, .socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}

footer .svg-inline--fa {
  font-size: 2.3rem;
}

footer .svg-inline--fa:hover {
  color: #68a0d2;
}

/*============= SOCKET =============*/

.socket {
  background-color: #222222;
  border-top: .1rem solid #4981b3;
}

/*============= PROFILE =============*/

/*============= MEDIA QUERIES =============*/

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-evenly;
  }
}

/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  .carousel-caption h3 {
    font-size: 1.8rem;
  }
  .carousel-inner {
    height: 537.51px;
  }
  .navbar-collapse {
    background-color: white;
    float: right;
    padding: 0!important;
    max-width: 150px;
    margin-left: calc(100vw - 167px);
  }
  .navbar-toggler {
    margin-left: calc(100vw - 400px);
    width: 56px;
    height: 60px;
  }
}

/* Devices under 992px (md) */

@media (max-width: 991.98px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption h3 {
    font-size: 1.5rem;
  }
  .btn-lg {
    font-size: .95rem;
  }
  .carousel-inner {
    height: 417px;
  }
  .navbar-collapse {
    background-color: white;
    float: right;
    padding: 0!important;
    max-width: 150px;
    margin-left: calc(100vw - 150px);
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 275.59px;
  }
}

@media (max-width: 576px) {
  .width {
    margin: auto;
  }
  .coursecontainer {
    margin: 0;
  }
}

/*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/

/*-- Bootstrap Mobile Gutter Fix --*/

.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}